.details{
    padding: 5px;
}
.details >.title{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 3px;
}
.details>.abstract{
    line-height: 2em;
}
.details>.hearticon:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .details>.abstract{
        line-height: 1.2em;
    } 
    .details{
        padding: 2px;
    }
}