.filmlist_container{
    width: 80vw;
    margin: 0 auto;
    text-align: left;
    height: 100%;
    padding-top: 20px;
}
.filmlist_container> .table_titles,.filmlist_container>.table_content {
    display: flex;
}
.filmlist_container> .table_titles > h3, .filmlist_container>.table_content>.title{
    width: 30%;
}
.filmlist_container> .table_titles > h4, .filmlist_container>.table_content>.filmcard_container{
    width: 70%;
}
.filmlist_container>.table_content>.title{
    font-size: 1.15rem;
    padding: 2px;
}
.filmlist_container>.table_content>.title>.titlerow{
    margin-bottom: 8px;
}
.filmlist_container>.table_content>.title>.titlerow:hover{
    cursor: pointer;
    color: burlywood;
}
.filmlist_container>.table_content>.title>.titlerow:active{
    color: burlywood;
}
@media only screen and (max-width: 600px) {
    .filmlist_container>.table_content>.title{
        font-size:1rem;  
    }
    .filmlist_container> .table_titles > h4{
        margin-left: 1.5em;
    }
    .filmlist_container>.table_content>.filmcard_container{
        margin-left: 1.5em;
    }
}
@media only screen and (min-width:992px){
    .filmlist_container{
        width: 60vw;
    }
   
}