.filmlist_container{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    padding-top: 20px;
}
.filmlist_container> .table_titles,.filmlist_container>.table_content {
    display: flex;
}
.filmlist_container> .table_titles > h3, .filmlist_container>.table_content>.title{
    width: 30%;
}
.filmlist_container> .table_titles > h4, .filmlist_container>.table_content>.filmcard_container{
    width: 70%;
}
.filmlist_container>.table_content>.title{
    font-size: 1.15rem;
    margin-right: 10px;
    padding: 2px;
}
.filmlist_container>.table_content>.title>.titlerow{
    margin-bottom: 8px;
}
.filmlist_container>.table_content>.title>.titlerow:hover{
    cursor: pointer;
    color: burlywood;
}
.filmlist_container>.table_content>.title>.titlerow:active{
    color: burlywood;
}
