.App{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: white;
  background: rgb(6,6,10);
background: radial-gradient(circle, rgba(6,6,10,0.8942927512801996) 6%, rgba(45,60,121,1) 58%, rgba(25,28,62,1) 82%, rgba(26,15,55,1) 100%);
}